<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrical Products E-Commerce</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <header>
        <h1>Electrical Products Store</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/catalog">Catalog</a>
            <a href="/contact">Contact</a>
            <a href="/register">Register</a>
            <a href="/order_tracking">Track Order</a>
        </nav>
    </header>
    <main>
        <h2>Welcome to Our Store</h2>
        <p>Your one-stop shop for all your electrical needs!</p>     
		<table class="table transaction-table">
            <thead>
                <tr>
                    <th>Producto_id</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Color</th>
                    <th>Descripción</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
            <tbody>
				{% for productos in catalog %}
                <tr>
                    <td>{{ productos.id}}</td>
                    <td>{{ productos.name}}</td>
                    <td>{{ productos.price}}</td>
                    <td>{{ productos.color}}</td>
                    <td>{{ productos.descripcion}}</td>
                    <td>{{ productos.ubicacion}}</td>
				</tr>
                {% endfor %}
			</tbody>
		</table>
    </main>
    <footer>
        <p>&copy; 2025 Electrical Products Store</p>
    </footer>
</body>
</html>

